/* #synopsis{
  margin-top: 10%;
  margin-left: 10%;
  width: 150%;
} */
#bookLinks{
  padding-top: 5%;
  margin-left: 30%;
}

.bookPhotos { 
  width: 70%;
  margin-left: 4%;
  margin-top: 5%;
}

/* #contents{
  width: 400px;
} */

#amazon{
  width: 100%;
}

button{
  width: 100px;
  height: 60px;
}

