<div class="row" id="bookLinks">
  <div class="col-sm-6">
    <a href="https://www.amazon.com/Introspective-Rationale-Theodicy-Mitchell-Thompson-ebook/dp/B07HCR6QVH/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1540499014&sr=8-1" target="_blank"><img src="../../assets/img/amazon.png" class="bookIMG img-fluid"></a>
  </div>
  <div class="col-sm-6">
    <a href="https://www.barnesandnoble.com/w/introspective-rationale-mitchell-g-thompson/1129541498?ean=9781535615341" target="_blank"><img src="../../assets/img/barnes-and-noble.png" class="bookIMG img-fluid"></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <img src="../../assets/img/CoverPhoto.jpg" class="img-fluid bookPhotos">
  </div>
  <div class="col-sm-4" id="synopsis">
    <h1>Synopsis</h1>
    <h3>As subjective individual beings, We strive to understand Our place within the objective Universe. The historical
    narrative of Mankind reveals the rigidness of individual bias. By understanding the journey of Ourselves, in mass, We
    begin to fully appreciate the confines of Our own existence. To such a degree that Our ancient ancestors began to
    unveil the quantifiable qualities of Nature’s most fundamental nature - revelations that operate by the rationale of
    introspection. An innate process that exposes the divine exaltation of some transcending being, namely elevated
    consciousness. Only in knowing what One does not know will One come to know the unknown, Journey on an odyssey of
    theodicy to prove “god’s” existence. Where the story of Ourselves acts as an arbiter for the Universe constantly
    looking within and maintaining itself both as above to so below.</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <img src="../../assets/img/CoverPhoto2.jpg" class="img-fluid bookPhotos">
  </div>
  <div class="col-sm-6">
    <img src="../../assets/img/TableOfContents.jpg" class="img-fluid bookPhotos">
  </div>
</div>