a{
  float: right;
  margin-right: 2%;
  padding-top: 2%;
} 

#logo{
  float: left;
  margin-left: 2%;
}

button{
  background-color: black;
  color: white;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
}

button:focus {
  outline:0;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: black;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}