/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/img/BGPhoto.jpg");
    /* background-repeat: no-repeat; */
    /* background-position-y: top;  */
    /* background-position-x: right 32px; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    background-size: cover; 
}
