.center{
  text-align: center;
  padding-top: 4%;
}

ul{
  list-style-type: none;
}

/* .title{
  font-weight: bold;
} */

#bookQuote{
  width: 80%;
  margin-left: 10%;
} 

#quotes{
  font-size: 150%;
}

