<div class="center">
  <div id="title">
    <h1 class="animated fadeIn">Introspective Rationale: The Odyssey of Theodicy</h1>
    <h2 class="animated fadeIn">By: Mitchell G. Thompson</h2>
  </div>
  <ul class="container">
     <li @fade id="quotes">Introspection</li>
     <!-- {{currentMessage}} -->
    <!-- <li>Introspection</li>
    <li>Inoculates</li>
    <li>Ignorance</li> -->
  </ul>
  <button class="button">Find out more!</button>
  <div id="bookQuote">
    <h4>“Truly We are more than the sum of Our parts. The parts of Our being do not decide who We are but the pattern of said
    parts decide who We can become. One’s state of mind being dependent only on how One chooses to perceive their pattern
    of self; to such an extent that We can choose how to express Our thoughts into actions. Where each choice allows new
    patterns to emerge - each elevated by the wisdom of introspection.”</h4>
    <p>— IROT 6:7</p>
  </div>
</div>