.center{
  text-align: center;
  padding-top: 4%;
}

ul{
  list-style-type: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* .title{
  font-weight: bold;
} */

#bookQuote{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
} 

#quotes{
  font-size: 150%;
}

